<div
  nz-flex
  style="height: 70vh; padding-top: 30vh;"
  nzWrap="wrap"
  [nzAlign]="'center'"
  [nzVertical]="true"
>
  <nz-card class="mobile-card" nzTitle="Login">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="E mintila na cazz di password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Inserisci la password segretissima..."
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary">Login</button>
    </form>
  </nz-card>
</div>
