<div nz-flex style="height: 70vh" [nzJustify]="'center'" [nzAlign]="'center'" [nzVertical]="true">
  <div class="m-5">
    <nz-alert
      *ngIf="loggedIn"
      nzType="success"
      nzMessage="Yeeee! La password è giustaaa!"
    ></nz-alert>
  </div>
  <nz-card style="width: 40vw" nzTitle="Login">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="E mintila na cazz di password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Inserisci la password segretissima..."
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary">Login</button>
    </form>
  </nz-card>
</div>
