.card {
  background: #fff0f6;
  border-radius: 1rem;
  padding: 1rem 0.2rem;
  margin: 0.5rem 0.5rem;
  box-shadow: 0 0 10px rgba(233, 30, 99, 0.2);
  text-align: center;
  font-size: 14px;
  display: block;
  align-items: center;
  justify-content: center;
}

.ingredient-list {
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}
