::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.modal-body-scrollable {
  max-height: 60vh;
  overflow-y: auto;
}

.modal-top {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.omdb-response {
  margin-top: 1rem;
  width: 90%;
  max-height: 15vh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 95%;
    max-width: 95%;
    overflow-x: hidden; /* ultima difesa contro scroll orizzontale */
    margin-bottom: 2rem;
    margin: 0 auto; /* centra il container stesso */
  }

  .tab-wrapper {
    overflow-x: auto; /* abilita scroll orizzontale */
    -webkit-overflow-scrolling: touch; /* scorrimento fluido su iOS */
  }
}
