@media (max-width: 768px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 95%;
    max-width: 95%;
    margin-bottom: 2rem;
    margin: 0 auto; /* centra il container stesso */
  }

  .nz-row-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tab-wrapper {
    overflow-x: auto; /* abilita scroll orizzontale */
    -webkit-overflow-scrolling: touch; /* scorrimento fluido su iOS */
  }

  .tab-wrapper ::ng-deep .ant-tabs-nav {
    flex-wrap: nowrap; /* impedisce che le tab vadano a capo */
    display: flex; /* forza layout flex */
  }

  .tab-wrapper ::ng-deep .ant-tabs-tab {
    flex: 0 0 auto; /* mantiene larghezza originale della tab */
  }
}

.basic {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}
nz-float-button {
  position: absolute;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.step-input {
  width: 60%;
  margin-right: 8px;
}

.add-button {
  width: 60%;
}

.modal-body-scrollable {
  max-height: 60vh;
  overflow-y: auto;
}

.image-wrapper {
  width: 40px; /* larghezza massima anteprima */
  height: 40px; /* altezza massima anteprima */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* nasconde l'eccesso se serve */
  background-color: #f8f8f8; /* sfondo neutro */
  margin-right: 1rem;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* mantiene proporzioni senza tagliare */
}

.card-img {
  width: 100%;
  height: 100%;
  max-height: 20vh;
  object-fit: cover;
}

[nz-card-grid] {
  width: 50%;
  min-height: 20vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-img-container {
  padding: 0.1rem;
  flex: 1; /* prende tutto lo spazio possibile nel card-grid */
  overflow: hidden; /* nasconde i bordi eccedenti */
}
