.basic {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}
nz-float-button {
  position: absolute;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.step-input {
  width: 60%;
  margin-right: 8px;
}

.add-button {
  width: 60%;
}

.modal-body-scrollable {
  max-height: 60vh;
  overflow-y: auto;
}

